[submodule "PageBuilderMultipleStyles"]
	path = PageBuilderMultipleStyles
	url = git@github.com:magento-devdocs/PageBuilderMultipleStyles.git
[submodule "PageBuilderQuote"]
	path = PageBuilderQuote
	url = git@github.com:magento-devdocs/PageBuilderQuote.git
