// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

& when (@media-common = true) {

    @media (min-width: 1025px) {
        #html-body h1[data-content-type="heading"] {
            font-size: 56px;
            line-height: 81px;
            font-weight: 700;
            margin-bottom: 0;
        }
    }

    @media (max-width: 1024px) {
        #html-body h1[data-content-type="heading"] {
            font-size: 40px;
            line-height: 61px;
            font-weight: 700;
            margin-bottom: 0;
        }
    }

    @media (max-width: 768px) {
        #html-body h1[data-content-type="heading"] {
            font-size: 30px;
            line-height: 51px;
            font-weight: 600;
            margin-bottom: 0;
        }
    }

    @media (max-width: 540px) {
        #html-body h1[data-content-type="heading"] {
            font-size: 24px;
            line-height: 41px;
            font-weight: 600;
            margin-bottom: 0;
        }
    }
}
