<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="AppearanceSourceQuote" type="Magento\PageBuilder\Model\Source\VisualSelect">
        <arguments>
            <argument name="optionsSize" xsi:type="string">large</argument>
            <argument name="optionsData" xsi:type="array">
                <item name="0" xsi:type="array">
                    <item name="value" xsi:type="string">default</item>
                    <item name="title" xsi:type="string" translate="true">Default</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\PageBuilder\Model\Config\ContentType\AdditionalData\Provider\Wysiwyg\Config">
        <arguments>
            <argument name="editors" xsi:type="array">
                <item name="mage/adminhtml/wysiwyg/tiny_mce/tinymce4Adapter" xsi:type="array">
                    <item name="component_initializers" xsi:type="array">
                        <item name="example_quote" xsi:type="string">Example_PageBuilderQuote/js/content-type/example-quote/wysiwyg/tinymce4/component-initializer</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Example\PageBuilderQuote\Model\Config\ContentType\AdditionalData\Provider\Wysiwyg\QuoteConfig" type="Magento\PageBuilder\Model\Config\ContentType\AdditionalData\Provider\Wysiwyg\Config">
        <arguments>
            <argument name="editors" xsi:type="array">
                <item name="mage/adminhtml/wysiwyg/tiny_mce/tinymce4Adapter" xsi:type="array">
                    <item name="parentSelectorsToUnderlay" xsi:type="null"/>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>