<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\PageBuilder\Model\Wysiwyg\DefaultConfigProvider">
        <arguments>
            <argument name="additionalSettings" xsi:type="array">

            <!-- How to add or remove TinyMCE toolbar buttons to your custom Text editor.
                     Note the 'code' plugin added to the toolbar here. This provides access
                     to the HTML code used in the editor. To remove toolbar buttons, simply
                     delete one or more of the text entries shown here.-->
                <item name="toolbar" xsi:type="string">
                    undo redo | code | styleselect | forecolor backcolor | bold italic underline |
                    alignleft aligncenter alignright | numlist bullist |
                    link image table charmap
                </item>

                <item name="textcolor_cols" xsi:type="string">8</item>

                <item name="textcolor_map" xsi:type="array">

                <!-- UI Colors -->
                    <item name="0" xsi:type="string">333333</item>
                    <item name="1" xsi:type="string">Text</item>

                    <item name="2" xsi:type="string">1979C3</item>
                    <item name="3" xsi:type="string">Primary/Link</item>

                    <item name="4" xsi:type="string">F0F0F0</item>
                    <item name="5" xsi:type="string">Light Gray</item>

                    <item name="6" xsi:type="string">6E716E</item>
                    <item name="7" xsi:type="string">Dark Gray</item>

                    <item name="8" xsi:type="string">E02B27</item>
                    <item name="9" xsi:type="string">Error</item>

                    <item name="10" xsi:type="string">C07600</item>
                    <item name="11" xsi:type="string">Warning</item>

                    <item name="12" xsi:type="string">71B54E</item>
                    <item name="13" xsi:type="string">Success</item>

                    <item name="14" xsi:type="string">FFFFFF</item>
                    <item name="15" xsi:type="string">White</item>

                    <!-- Brand Colors -->
                    <item name="16" xsi:type="string">26A9E0</item>
                    <item name="17" xsi:type="string">Blue</item>

                    <item name="18" xsi:type="string">0A7599</item>
                    <item name="19" xsi:type="string">Dark Blue</item>

                    <item name="20" xsi:type="string">FFDD15</item>
                    <item name="21" xsi:type="string">Yellow</item>

                    <item name="22" xsi:type="string">A89332</item>
                    <item name="23" xsi:type="string">Dark Yellow</item>

                    <item name="24" xsi:type="string">8BC53F</item>
                    <item name="25" xsi:type="string">Green</item>

                    <item name="26" xsi:type="string">57843C</item>
                    <item name="27" xsi:type="string">Dark Green</item>

                    <item name="28" xsi:type="string">F3793B</item>
                    <item name="29" xsi:type="string">Orange</item>

                    <item name="30" xsi:type="string">C05E2F</item>
                    <item name="31" xsi:type="string">Dark Orange</item>

                </item>

                <!-- How to add additional styles from your theme to the TinyMCE Formats selector -->
                <item name="style_formats" xsi:type="array">
                    <item name="Lead" xsi:type="array">
                        <item name="title" xsi:type="string">Lead</item>
                        <item name="block" xsi:type="string">div</item>
                        <item name="classes" xsi:type="string">lead</item>
                    </item>
                    <item name="Body 1" xsi:type="array">
                        <item name="title" xsi:type="string">Body 1</item>
                        <item name="block" xsi:type="string">div</item>
                        <item name="classes" xsi:type="string">body1</item>
                    </item>
                    <item name="Body 2" xsi:type="array">
                        <item name="title" xsi:type="string">Body 2</item>
                        <item name="block" xsi:type="string">div</item>
                        <item name="classes" xsi:type="string">body2</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\PageBuilder\Model\Wysiwyg\DefaultConfigProvider">
        <plugin name="cssContentPlugin" type="ThemeKit\Deprecated\Plugin\CssContentPlugin"/>
    </type>

</config>